<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>author</title>
</head>
<body>
<h2>Все записи в автора {{ author }}.</h2>
<a href="{% url 'blogs:blogs_list' %}"><- Все записи</a>
<hr/>
{% for b in blogs %}
<h3>{{ b.name }}</h3>
<h3>Блог в категории: <a href="{% url 'blogs:category' slug=b.category.slug %}">{{ b.category }}</a></h3>
<h4>{{ b.text|truncatechars:51 }}</h4>
<h4>Автор: <a href="{% url 'blogs:author_blogs' name=b.author %}">{{ b.author.get_full_name }}</a></h4>
<h4>Дата создания: {{ b.date }}</h4>
<h4><a href="{% url 'blogs:items' slug=b.slug %}"> Просмотр -> </a></h4>
<hr/>
{% endfor %}
<h4><a href="{% url 'blogs:blogs_list' %}"> <- Показать все записи  </a></h4>
</body>
</html>