<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Some Blog</title>
</head>
<body>
<a href="{% url 'blogs:home_page' %}"><img src="{{ blog.image.url }}" alt=""/></a>
<h3><a href="{% url 'blogs:blogs_list' %}"><- Вернуться</a></h3>
<h1>{{ blog.name }}</h1>
<h3>Блог в категории: <a href="{% url 'blogs:category' slug=blog.category.slug %}">{{ blog.category }}</a></h3></h3>
<h3>{{ blog.text }}</h3>
<h3>Автор блога:  <a href="{% url 'blogs:author_blogs' name=blog.author %}">{{ blog.author.get_full_name }}</a>
    Дата создания:  {{ blog.date }}</h3>

<h3>Редактировать блог: <a href="{% url 'blogs:update_blog' slug=blog.slug %}">  <input type="submit" value="Редактировать"></a></h3>
</body>
</html>