<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<body>
<h1> Добро пожаловать на главную страницу NEW BLOG!</h1>
<h2>Вы можете <a href="{% url 'users:login' %}">Войти</a> или <a href="{% url 'users:signup' %}">Зарегистрироваться</a></h2>
<a href="{% url 'blogs:blogs_list' %}">Просмотреть все записи</a>
</body>
</html>