<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1> Пожалуйста, введите свой логин и пароль!</h1>
<hr>
<br><form action="{% url 'users:login' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Войти">
</form></br></hr>
<br>Вернуться в главное меню  <a href="{% url 'blogs:home_page' %}"><input type="submit" value="Главное меню"></a></br>
</body>
</html>